#wrap2{
	width: 700px;
	height: 1340px;
	margin: 0 auto;
	background-image: url(../images/pagefive/glass.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/*display: none;*/
}
.music2{
	position: absolute;
	bottom: 50px;
	right: 50px;
	z-index: 3;
}
#content2 img{
	width: 700px;
}
#bottom2{
	position: absolute;
	bottom: 100px;
}
#bottom2 img:nth-child(1){
	position: absolute;
	bottom: 100px;
}
#bottom2 img:nth-child(2){
	position: absolute;
	bottom: 30px;
	left: 200px;
	/*border: 1px solid red;*/
}
#bottom2 img:nth-child(3){
	position: absolute;
	bottom: -50px;
	left: 340px;
}
