#wrap4 {
	width: 700px;
	height: 1340px;
	margin: 0 auto;
	background-image: url(../images/pagefive/glass.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/*display: none;*/
	/*z-index: 1;*/
}

#w4_2 {
	position: absolute;
	/*display: none;*/
	/*background-size: 700px 1340px;*/
	/*z-index: 2;*/
}

#w4_0 {
	width: 700px;
	height: 1340px;
	position: absolute;
	top: 0;
}
#w4_01{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 500px;
	height: 800px;
	display: none;
}
#w4_02{
	position: absolute;
	top: 475px;
	left: 325px;
	width: 50px;
}
#w4_03{
	position: absolute;
	top: 1000px;
	left: 325px;
	width: 260px;
}
#w4_04{
	position: absolute;
	top: 20px;
	left: 200px;
	width: 500px;
	color: white;
	font-size: 40px;
}
#w4_05{
	position: absolute;
	top: 350px;
	left: 250px;
	width: 250px;
	color: white;
	font-size: 50px;
}
/*#w4_21 {
	position: absolute;
	top: 100px;
	left: 300px;
}*/
#W4_pic div{
	display: none;
}

#w4_21 {
	position: absolute;
	top: 350px;
	left: 60px;
}

#w4_22 {
	position: absolute;
	top: 100px;
	left: 150px;
}

#w4_23 {
	position: absolute;
	top: 450px;
	left: 500px;
}

#w4_24 {
	position: absolute;
	top: 950px;
	left: 150px;
}

#w4_25 {
	position: absolute;
	top: 150px;
	left: 450px;
}

#w4_26 {
	position: absolute;
	top: 600px;
	left: 100px;
}

#w4_27 {
	position: absolute;
	top: 700px;
	left: 500px;
}

#w4_28 {
	position: absolute;
	top: 750px;
	left: 300px;
}

#w4_bot4 {
	position: absolute;
	bottom: 50px;
	left: 340px;
}

.bot4 {
	-webkit-animation: "tiao3" 0.5s linear infinite;
	-o-animation: "tiao3" 0.5s linear infinite;
	animation: "tiao3" 0.5s linear infinite;
}

@keyframes tiao3 {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	100% {
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
}

#w4_21 img {
	width: 150px;
}

#w4_22 img {
	width: 150px;
}

#w4_23 img {
	width: 150px;
}

#w4_24 img {
	width: 150px;
}

#w4_25 img {
	width: 150px;
}

#w4_26 img {
	width: 150px;
}

#w4_27 img {
	width: 150px;
}

#w4_28 img {
	width: 150px;
}

#W4_pic{
	/*display: none;*/
}
#w4_word{
	/*display: none;*/
}


/*详细人物介绍*/
#w4_detile{
	display: none;
	overflow: hidden;
	position: absolute;
	top: 300px;
	width: 700px;
	height: 700px;
	/*border: 1px solid white;*/
}
.clickLeft{
	position: absolute;
	top: 300px;
	left: 20px;
	width: 50px;
}
.clickRight{
	position: absolute;
	top: 300px;
	right: 20px;
	width: 50px;
}
.xxx{
	position: absolute;
	top: 0px;
	left: 20px;
}
#w4_det{
	position: absolute;
	top: 150px;
	/*border: 1px solid red;*/
	width: 9999px;
}
#w4_det img{
	float: left;
	margin: 0 250px;
}
